$white: #fff;
$green : #4caf50;
$seagreen:#32d5ba;
$blue: #6dc4f2;
$yellow: #ffd13c;
$red: #f44336;

$main-background-color: $white; 
$second-background-color: #fafafa;

$top-border-color: #e5e2db;
$border-color: #f0f0f0;

$button-text-color: $green;

$main-text-color: #303842;
$second-text-color: #6b7c93;