@import './navigationItems.scss';

.header {
    $header-height: 70px;
    position: sticky;
    top: 0;
    background-color: $main-background-color;
    height: $header-height;
    width:100%;
    box-shadow: 0px 2px $shadow;
    z-index:10;


    &__logo {
        width: 114px;
        height: 40px;
    }

    .navigation {
        height : 100%;
        display:flex;
        align-items: center;

        &__side-menu {
            $width: 260px;
            position: fixed;
            top:$header-height;
            bottom: 0;
            width: $width;
            right:-$width;
            background-color:$second-background-color;
            border-top: $default-border;
            border-left: $default-border;
            transition-property: right;
            transition-duration: .2s;


            &_opened {
                right:0;
            }

            .navigation-items {
                padding: $default-margin;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                li {
                    margin: $default-margin;
                    font-size: $font-size--sm;
                }
            }
            @media (min-width: $tablet-width) {
                display: none;
            }
        }

        &__main {
            display: none;
            height: 100%;

            li {
                position: relative;
                display: inline-block;
                height: 100%;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #f1f1f1;
                }

                a {
                    padding: 0 25px 0 25px;
                    display: flex;
                    height: 100%;
                    align-items: center;
                }

                &.active {
                    &::before{
                        content: ""; 
                        width: 100%;
                        height: 2px;
                        background-color: $green;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            @media (min-width: $tablet-width) {
                display: block;
            }
        }

        &__toggle {
            position: relative;
            display:block;
            width: 36px;
            height: 36px;
            background: 0;
            border: 0;
            cursor: pointer;
            z-index: 20;
        
            ion-icon {
                position: absolute;
                font-size: $font-size--lg2;
                color: $main-text-color;
                left: 0;
                top: 0;
        
            }

            @media (min-width: $tablet-width) {
                display: none;
            }
        }
    }

    
}