<section class = "contacts">
    <div class = "container contacts__container">
        {{> ./sectionText 
        sectionName = "contacts" 
        title = "Contact Us" 
        description ="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus."
        }}
        
        <form class = "contacts__form">
            <input id = "email" placeholder="Email address">
            <input id = "f-name" placeholder="First name">
            <input id = "s-name" placeholder="Last name">
            <textarea id ="message" placeholder="Message"></textarea>
            
            <button class = "simple-btn">send now</button>
        </form>
    </div>
   
</section>