<footer class = "footer">
    <div class = "footer-container">
        <div class = "footer__inner">
            <div class = "footer__info">
                <div class = "footer__logo">
                    <img src="./images/logo.png" alt="logo"/>
                </div>
                <p class = "footer__text">Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</p>
                <div class = "footer__links">
                    <a href = "#" >Private policy</a>
                    <a href = "#" >Terms and conditions</a>
                </div>
                <p  class = "footer__copyright">Copyright © 2019</p>
            </div>
            <div class="footer__list footer__list_categories">
                <h3 class = "title">Caterories</h3>
                <ul>
                    <li>
                        <a href = "#" >Home</a>
                    </li>
                    <li>
                        <a href = "#" >Customers</a>
                    </li>
                    <li>
                        <a href = "#" >Services</a>
                    </li>
                    <li>
                        <a href = "#" >Careers</a>
                    </li>
                    <li>
                        <a href = "#" >Contact us</a>
                    </li>
                </ul>
            </div>
            <div class = "footer__list footer__list_community">
                <h3 class = "title">Community</h3>
                <ul>
                    <li>
                        <a href = "#" >Blog</a>
                    </li>
                    <li>
                        <a href = "#" >Discussions</a>
                    </li>
                    <li>
                        <a href = "#" >Collections</a>
                    </li>
                    <li>
                        <a href = "#" >Members</a>
                    </li>
                    <li>
                        <a href = "#" >Products</a>
                    </li>
                    <li>
                        <a href = "#" >Help center</a>
                    </li>
                </ul>
            </div>
            <div class = "footer__list footer__list_social-icons" >
                <h3 class = "title">Follow us</h3>
                {{> ./socialIcons }}
            </div>
        </div>
    </div>
</footer>