<ul class = "navigation-items">
    <li class = "active"><a href = "#slide">Home</a></li>
    <li><a href = "#partners">Partners</a></li>
    <li><a href = "#services">Services</a></li>
    <li><a href = "#career">Career</a></li>
    <li><a href = "#contacts">Contact us</a></li>
</ul>