<section class="partners" id = "partners">
    <div class="container partners__container">
        {{> ./sectionText 
        sectionName = "partners" 
        title="Our Partners" 
        description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."
        }}

        <div class="partners__items">
            <div>
                <img src="./images/partners4.png" alt="partner4 logo"/>
            </div>
            <div>
                <img src="./images/partners2.png" alt="partner2 logo"/>
            </div>
            <div>
                <img src="./images/partners1.png" alt="partner1 logo"/>
            </div>
            <div>
                <img src="./images/partners3.png" alt="partner3 logo"/>
            </div>
        </div>
    </div>
</section>