<section class = "services" id = "services">
        <div class = "container services__container">
            <div class = "services__content">
                {{> ./sectionText 
                sectionName = "services" 
                title = "Our Services & Special Fields" 
                description ="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes."
                }}

                <ul class = "services__items">
                    {{> ./serviceItem iconName ="bicycle" title ="Discovery & Strategy" description = "Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor."}} 
                    {{> ./serviceItem iconName ="attach" title ="TEAM STATISTICS" description = "Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor."}} 
                    {{> ./serviceItem iconName ="person" title ="MANAGE PROJECTS" description = "Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor."}} 
                    {{> ./serviceItem iconName ="checkbox" title ="Unlimited Sharing" description = "Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor."}} 
                </ul>
            </div>
        </div>
    </section>