<li class = "service-item">
    <div class = "service-item__icon">
        <ion-icon name={{iconName}}></ion-icon>
    </div>
    <div class = "service-item__text">
        <h4 class = "service-item__title">{{title}}</h4>
        <p class = "service-item__description">{{description}}</p>
    </div>  
</li>