 <section class ="slide">
     <div class = "container slide__container">
        <h1 class = "slide__main">We create an alround experience for your Corporate business</h1>
        <p class = "slide__second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis penatibus et magnis.</p>
        <a 
            class = "slide__button simple-btn" 
            href = "#"
        >Explore now</a>
    </div>
</section>