<div class = "top-info">
    <div class = "top-container">
        {{> ./socialIcons }}
        <span class = "phone">
            <span>Hot Line</span>
            <a href="tel:+1-303-499-7111">+1 303 499 7111</a>
        </span>
    </div>
</div>
